@model List<string>

<div>
    @ViewBag.dateTime
</div>

<h3>File Added.</h3>

<h5>Total number of lines added @Model.Count()</h5>

<a asp-controller="City" asp-action="List" class="btn btn-primary">Home</a>

