<p>LA County Cities - Add</p>
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="pop">Population</label>
        <input type="text" class="form-control" id="pop" name="pop">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>